section.welcome {
  width: 100%;
  height: 100%;
}
section.welcome div.main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.welcome div.main h2 {
  font: 300 14px/1 $arcon;
  letter-spacing: 4px;
  color: $iron;
}
section.welcome div.main h1 {
  margin: 18px 0;
  font: 300 50px/1 $rajdhani;
  letter-spacing: 3px;
  color: #000;
}
section.welcome div.main a {
  font: 300 15px/1 $arcon;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
}
section.welcome div.main a:link::after,
section.welcome div.main a:visited::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background: $deep-blush;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
section.welcome div.main a:hover::after,
section.welcome div.main a:visited:hover::after,
section.welcome div.main a:active::after {
  content: "";
  bottom: -2px;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  height: 1px;
  background: $deep-blush;
}
section.welcome div.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
section.welcome div.footer p {
  margin: 15px 0;
  font: 300 15px/1 $rajdhani;
  color: $calypso;
}
