main {
  height: 100%;
  width: 100%;
}
main section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main section h2 {
  font-family: $arcon;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 4px;
  color: $iron;
}
main section h1 {
  font-family: $rajdhani;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 3px;
  color: #000;
}
main section ul {
  list-style: none;
}
main section ul li {
  display: inline-block;
}
main div {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
main div h4 {
  font-family: $rajdhani;
  font-weight: 300;
  line-height: 1;
  color: $blue-bayoux;
}
@media only screen and (max-width: $xsmall -1) {
  main section h2 {
    font-size: 10px;
  }
  main section h1 {
    margin: 12px 0;
    font-size: 36px;
  }
  main section ul li {
    margin: 0 10px;
  }
  main section ul li img {
    width: 20px;
    height: 20px;
  }
  main div h4 {
    margin: 9px 0;
    font-size: 19px;
  }
}
@media only screen and (min-width: $xsmall) and (max-width: $small -1) {
  main section h2 {
    font-size: 12px;
  }
  main section h1 {
    margin: 15px 0;
    font-size: 43px;
  }
  main section ul li {
    margin: 0 12px;
  }
  main section ul li img {
    width: 22px;
    height: 22px;
  }
  main div h4 {
    margin: 12px 0;
    font-size: 17px;
  }
}
@media only screen and (min-width: $small) and (max-width: $large -1) {
  main section h2 {
    font-size: 14px;
  }
  main section h1 {
    margin: 18px 0;
    font-size: 50px;
  }
  main section ul li {
    margin: 0 14px;
  }
  main section ul li img {
    width: 24px;
    height: 24px;
  }
  main div h4 {
    margin: 15px 0;
    font-size: 15px;
  }
}
@media only screen and (min-width: $large) and (max-width: $xlarge -1) {
  main section h2 {
    font-size: 16px;
  }
  main section h1 {
    margin: 18px 0;
    font-size: 57px;
  }
  main section ul li {
    margin: 0 16px;
  }
  main section ul li img {
    width: 26px;
    height: 26px;
  }
  main div h4 {
    margin: 18px 0;
    font-size: 17px;
  }
}
@media only screen and (min-width: $xlarge) {
  main section h2 {
    font-size: 18px;
  }
  main section h1 {
    margin: 18px 0;
    font-size: 64px;
  }
  main section ul li {
    margin: 0 18px;
  }
  main section ul li img {
    width: 28px;
    height: 28px;
  }
  main div h4 {
    margin: 21px 0;
    font-size: 19px;
  }
}
