html, body 
	width 100%
	height 100%

* 
	padding 0
	margin 0
	box-sizing border-box
	position relative
	text-rend ering optimizeLegibility
	text-rendering geometricPrecision
	font-smoothing always
	font-smoothing antialiased
	-moz-font-smoothing antialiased
	-webkit-font-smoothing antialiased
	
$arcon = "arcon", sans-serif
$rajdhani = "rajdhani", monospace

$catskill-white = #f4f7fa
$san-juan = #324b64
