html, body 
	width 100%
	height 100%

* 
	padding 0
	margin 0
	box-sizing border-box
	position relative
	text-rendering optimizeLegibility
	text-rendering geometricPrecision
	font-smoothing always
	font-smoothing antialiased
	
$arcon = "arcon", sans-serif
$rajdhani = "rajdhani", monospace

$iron = #d2d5d8
$catskill-white = #f4f7fa
$san-juan = #324b64
$deep-blush = #e155a5
$calypso = #3c6996
$fiord = #3c4664

$xsmall = 420px
$small = 840px
$large = 1260px
$xlarge = 1680px
