@font-face
	font-family "rajdhani"
	src url("rajdhani.eot")
	src url("rajdhani.eot?#iefix") format("embedded-opentype"),
		 url("rajdhani.woff2") format("woff2"),
		 url("rajdhani.woff") format("woff"),
		 url("rajdhani.ttf") format("truetype"),
		 url("rajdhani.svg#rajdhani") format("svg")
	font-weight normal
	font-style normal

@font-face 
	font-family "arcon"
	src url("arcon.eot")
	src url("arcon.eot?#iefix") format("embedded-opentype"),
		 url("arcon.woff2") format("woff2"),
		 url("arcon.woff") format("woff"),
		 url("arcon.ttf") format("truetype"),
		 url("arcon.svg#arcon") format("svg")
	font-weight normal
	font-style normal