section.welcome
	width 100%
	height 100%
	
	div.main
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		display flex
		align-items center
		justify-content center
		flex-direction column
		
		h2 
			font-family $arcon
			font-weight 300
			line-height 1
			letter-spacing 4px
			color $iron

		h1
			font-family $rajdhani
			font-weight 300
			line-height 1
			letter-spacing 3px
			color black
		
		a
			font-family $arcon
			font-weight 300
			line-height 1
			letter-spacing 1px 
			text-decoration none
			color black 
			
			&::after
				content ""
				position absolute
				bottom -2px
				left 0
				width 100%
				height 1px
				background $deep-blush

				
	div.footer
		position absolute
		bottom 0
		left 50%
		transform translate(-50%)
		
		p
			font-family $rajdhani
			font-weight 300
			line-height 1
			color $calypso
			

@media only screen and (max-width: $xsmall - 1)
	section.welcome

		div.main
			
			h2 
				font-size 10px

			h1
				margin 12px 0
				font-size 36px
			
			a
				font-size 11px
				
					
		div.footer
			
			p
				margin 9px 0
				font-size 19px

@media only screen and (min-width: $xsmall) and (max-width: $small - 1)

	section.welcome

		div.main
			
			h2 
				font-size 12px

			h1
				margin 15px 0
				font-size 43px
				
			
			a
				font-size 13px
					
		div.footer
			
			p
				margin 12px 0
				font-size 17px


@media only screen and (min-width: $small) and (max-width: $large - 1)

	section.welcome

		div.main
			
			h2 
				font-size 14px

			h1
				margin 18px 0
				font-size 50px
			
			a
				font-size 15px
					
		div.footer
			
			p
				margin 15px 0
				font-size 15px


@media only screen and (min-width: $large) and (max-width: $xlarge - 1)

	section.welcome

		div.main
			
			h2 
				font-size 16px

			h1
				margin 18px 0
				font-size 57px
			
			a
				font-size 17px
					
		div.footer
			
			p
				margin 18px 0
				font-size 17px


@media only screen and (min-width: $xlarge)

	section.welcome

		div.main
			
			h2 
				font-size 18px

			h1
				margin 18px 0
				font-size 64px
			
			a
				font-size 19px
					
		div.footer
			
			p
				margin 21px 0
				font-size 19px

