main
	height 100%
	width 100%
	
	section
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		display flex
		align-items center
		justify-content center
		flex-direction column
		
		h2 
			font-family $arcon
			font-weight 300
			line-height 1
			letter-spacing 4px
			color $iron

		h1
			font-family $rajdhani
			font-weight 300
			line-height 1
			letter-spacing 3px
			color black
			
		ul
			list-style none
			
			li
				display inline-block

		
				
	div
		position absolute
		bottom 0
		left 50%
		transform translate(-50%)
		
		h4
			font-family $rajdhani
			font-weight 300
			line-height 1
			color $blue-bayoux
			

@media only screen and (max-width: $xsmall - 1)
	main

		section
			
			h2 
				font-size 10px

			h1
				margin 12px 0
				font-size 36px
			
			ul
			
				li
					margin 0 10px
					
					img
						width 20px
						height 20px
				
					
		div
			
			h4
				margin 9px 0
				font-size 19px

@media only screen and (min-width: $xsmall) and (max-width: $small - 1)

	main

		section
			
			h2 
				font-size 12px

			h1
				margin 15px 0
				font-size 43px
				
			ul
			
				li
					margin 0 12px
					
					img
						width 22px
						height 22px
					
		div
			
			h4
				margin 12px 0
				font-size 17px


@media only screen and (min-width: $small) and (max-width: $large - 1)

	main

		section
			
			h2 
				font-size 14px

			h1
				margin 18px 0
				font-size 50px
				
			ul
			
				li
					margin 0 14px
					
					img
						width 24px
						height 24px
					
		div
			
			h4
				margin 15px 0
				font-size 15px


@media only screen and (min-width: $large) and (max-width: $xlarge - 1)

	main

		section
			
			h2 
				font-size 16px

			h1
				margin 18px 0
				font-size 57px
			
			ul
			
				li
					margin 0 16px
					
					img
						width 26px
						height 26px
					
		div
			
			h4
				margin 18px 0
				font-size 17px


@media only screen and (min-width: $xlarge)

	main

		section
			
			h2 
				font-size 18px

			h1
				margin 18px 0
				font-size 64px
			
			ul
			
				li
					margin 0 18px
					
					img
						width 28px
						height 28px
					
		div
			
			h4
				margin 21px 0
				font-size 19px

